body {
    margin:0;
    padding:0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#main-img {
    max-width: 100%;
    margin:0 auto;
}

.box {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0;
}

.box h2 {
    margin-top:0;
}

.box1 {
    padding: 1em;
}

.bg-box {
    color:white;
    background-color: black;
}

.small-box {
    width:20%;
}

.main-box {
    width:45%;
}

.large-box {
    width: 70%;
}

